nav {
  background-color: slateblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: var(--fira-font);
}

.logo {
  background: #fff;
  width: 8vw;
  border-radius: 50%;
  margin: 0.8vw 0 0 0;
  transition: all 0.7s;
}
.logo:hover {
  transform: scale(1.1) rotate(360deg);
  z-index: 5;
}

.nav_item {
  transition: all 0.3s;
}

.nav_item:hover {
  transform: scale(1.1);
  z-index: 3;
}

.links {
  font-size: 2.5em;
  text-decoration: none;
  color: var(--text-color2);
  font-weight: 500;
}
.links:hover {
  color: var(--main-color2);
  text-decoration: underline;
}

@media screen and (max-width: 660px) {
  nav {
    flex-direction: column;
  }
  .logo_span {
    order: -1;
  }
  .logo {
    width: 30vw;
    margin: 2vw 0 0 0;
  }
  .links {
    font-size: 2em;
  }
  .nav_item {
    display: none;
  }
}
