.container {
  background-color: var(--main-color);
  padding-bottom: 3vw;
}
.info {
  position: relative;
  padding: 10vw;
  color: var(--text-color2);
  z-index: 2;
}
.info h4 {
  margin: 0 0 0 1.3vw;
  font-size: 2em;
}

.info h1 {
  margin: 0;
  padding: 0;
  font-size: 6em;
  font-family: var(--fira-font);
}

.info h3 {
  margin: 0;
  padding: 0;
  font-size: 3.5em;
  font-family: var(--fira-font);
}

.shapes {
  width: 66vw;
  position: absolute;
  top: 1vw;
  z-index: 0;
  left: -21vw;
  rotate: -195deg;
}

.shapes_c {
  width: 9vw;
  position: absolute;
  top: 18vw;
  z-index: 0;
  left: 28vw;
  rotate: 145deg;
}
