@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500;700&family=Mate+SC&family=Space+Mono:wght@400;700&family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  --main-color: #4733c5;
  --main-color2: #ff2a00;
  --text-color: white;
  --text-color2: black;
  --font-fira: "Fira Sans Condensed", sans-serif;
  --font-mate: "Mate SC", serif;
  --font-mono: "Space Mono", monospace;
  --font-ubuntu: "Ubuntu", sans-serif;
}
.fab-container{
  background: transparent;
  bottom: 3vh;
  position: fixed;
  margin: 1em;
  right: 2vw
}
