@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;600&display=swap");

:root {
  --ubuntu-font: "Ubuntu", sans-serif;
  --fira-font: "Fira Sans", sans-serif;
  --fira-font2: "Fira Sans Condensed", sans-serif;
}
